###러너VM을 위한 설정파일###

[defaults]    #기본 동작 설정
#inventory      = ./hosts_custom
#roles_path    = ./roles
inventory      = /local_backup/ansible/hosts
roles_path    = /local_backup/ansible/roles
forks = 50
host_key_checking = False
pipelining = True
interpreter_python = auto_silent


[privilege_escalation]   #권한 상승 설정
become = True
become_method = sudo
become_user = root 
